face-recognition>=1.2.3
face-recognition-models>=0.3.0
Flask>=1.0.2
peewee>=3.9.4
requests>=2.21.0
scikit-image>=0.14.2
scikit-learn>=0.20.1
PyMySQL>=0.9.3
boto3>=1.9.187
python-swiftclient>=3.8.0
python-keystoneclient>=3.20.0
celery>=4.4.0
cryptography>=2.9.2
gunicorn>=20.1.0
urllib3==1.24.2