.main-container {
    background-color: #F2F2F2;
    box-shadow: 4px 4px 10px #BABABA;
    color: black;
    margin: auto;
    margin-top: 20px;
    width: 750px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

@font-face {
    font-family: "monoMMM";
    src: url('/static/monoMMM_5.ttf')  format('truetype');
}

@font-face {
    font-family: "AnonymousPro";
    src: url('/static/Anonymous\ Pro.ttf')  format('truetype');
}

button {
    outline: none;
}

.round-container {
    border-radius: 10px;
    width: 90%;
    color:white;
    background-color:  #556270;
    
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: 15px;
}

body {
    background-color: white;
    color: white;
    line-height: 28px;
  font-family: 'monoMMM', Fallback, sans-serif;
}

.grbutton {
    border-radius: 6px;
    background: white;
    border: 0px solid transparent;
    color:rgba(186,31,38,1);
    width: 99%;
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    text-decoration: none;
    font-family: 'monoMMM';
}

.grbutton:hover{
    animation-name: buttonfad;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.grbckgrnd{
    background: linear-gradient(90deg, rgba(59,10,10,1) 0%, rgba(186,31,38,1) 24%, rgba(244,125,130,1) 100%);
    border-radius:6px;
    width:80%;
    margin: auto;
    margin-top: 10px;
    padding: 1px;
}

.result_images {
    padding:10px;
    width:100%;
    margin:auto;
    display: flex;
  flex-wrap: wrap;
}

.result_image {
    width: 100%;
    border-radius: inherit;
}

.oresult {
    width: 29%;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
}

.overlay {
    position: absolute;
    background-color: #556270;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    color: white;
}

.oresult:hover .overlay {
    animation-name: hovervis;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hovervis {
    from {opacity: 0;}
    to {opacity: 0.7;}
  }

  @keyframes buttonfad {
    from {color: rgba(186,31,38,1);background: white;}
    to {color: white;background: transparent;}
  }


  .center {
    margin: auto;
  }

.text-center {
    text-align: center;
    font-family: 'monoMMM';
  }

.matchtext {
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: small;
    line-height: 18px;
}

@media only screen and (max-width: 1100px) {
    .main-container {width:90%}
}

.fileUpload {
    color: white;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.samaritan-text {
    text-transform: uppercase;
}

.triangle-up { width: 0; 
    height: 0; 
    border-left: 16.5px solid transparent; 
    border-right: 16.5px solid transparent; 
    border-bottom: 25px solid red;
} 

.cursor {
    padding-top: 10px;
    animation-name: cursor-blink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes cursor-blink {
    0% {visibility: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.infotext {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}

.startbutton {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #BABABA; 
    margin-top: 20px;
}
@keyframes movedown {
    0% {margin-top: 0px;}
    100% {margin-top: 15px;}
}

.mvdwn:hover {
    animation: movedown 1s;
}

