<html>
    <head>
        <title>Heartbeat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="main-container">
            <h1>Heartbeat</h1>
            <form action="/admin">
                <input name="action" type="text" value="update_knn" style="visibility:hidden;">
                <input name="login" type="submit" value="Alle Gesichtserkennungsmodelle updaten">
            </form>
        </div>
    </body>
</html>