<html>
    <head>
        <title>Heartbeat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        
    </head>
    <body>
        <div class="main-container">
            <h1>Heartbeat</h1>
            <h5>Ein Fehler ist aufgetreten!</h5>
            {{ errormessage }}
        </div>
    </body>
</html>