  <div class="bckdiv footer">
    <div class="main-container ">
        <a href="http://github.com/mowoe/heartbeat">Heartbeat</a> is an open-source software, created to show how
        dangerous mass face-recognition can be.
    </div>
    </div>