  <div class="bckdiv footer">
    <div class="main-container ">
        <a href="http://github.com/mowoe/heartbeat">Heartbeat</a> is an open-source software, created to show how
        dangerous mass face-recognition can be.
        <form style="margin-bottom:0px;" method="get" action="/" enctype="multipart/form-data">
                <div style="width:fit-content;" class="grbckgrnd">
                <button class="grbutton">Home</button>
            </div>
            </form>
    </div>
    </div>