<head>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/style.css">
    <title>Heartbeat</title>
    <script type="module">       
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 40,
                backDelay: 1000,
                loop: true
            });
        </script>
</head>