<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
    <body>
        <script type="module">       
            var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 20
            });
        </script>
        <div class="main-container">
        <div class="text-center">
            <span id="typed" style="text-align: center;"></span>
        </div>
    </div>
        <div id="typed-strings">
            <p>Heartbeat is an open source face recognition system, that crawls social media.</p>
            <p>Start by uploading an image.</p>
        </div>
    </body>
</html>