<html>
    <head>
        <title>Heartbeat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Monoton|Nunito+Sans|Roboto&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div class="main-container">
            <h1>Heartbeat</h1>
            <h5>Was ist Heartbeat?</h5>
            Heartbeat ist eine Software, die Gesichtserkennung auf eine gro&szlig;e Anzahl an Bildern anwenden kann. Sie wurde haupts&auml;chlich dazu entwickelt um zu zeigen, wie einfach es ist eine Massen-Gesichtserkennungssoftware zu bauen.
            <div class="grbckgrnd"> 
                <button onclick="window.location.href='upload'" class="grbutton">Lade hier dein Bild hoch und Heartbeat sucht alle Bilder aus dem Internet auf denen du auch zu sehen bist!</button>
            </div>
            <br>
            <h5>Wie funktioniert Heartbeat?</h5>
            Heartbeat crawlt automatisch das Internet und l&auml;dt Bilder von Plattformen wie Instagram herunter. Auf heruntergeladenen Bildern wird dann eine Gesichtserkennung ausgef&uuml;hrt. Die erkannten Gesichter werden in einer Datenbank gespeichert um sp&auml;ter mit einem hochgeladenen Bild abgeglichen zu werden.
            <br><br>
            
            <h5>Ich habe bei Heartbeat ein Bild gefunden, bei dem ich nicht m&ouml;chte, dass es dort auftaucht.</h5>
            Wenn du uns benachrichtigst, werden wir dein Bild sofort entfernen und mithilfe eines Filters daf&uuml;r Sorge tragen, dass das Bild auch in Zukunft nicht mehr auftaucht.
            <br><br>
            <h5>Kontakt</h5>
            Per <a href="mailto:heartbeat@mowoe.com">Mail</a>
            <br>
            <div class="grbckgrnd">
                <button onclick="window.location.href='upload_new'" class="grbutton">Hier kannst du Bilder hochladen, um die Heartbeat Datenbank zu vergr&ouml;ßern, dies k&ouml;nnen z.B. Bilder sein, die du selber gemacht hast.</button>
            </div>
            <br><br>
           Heartbeat ist ein OpenSource-Projekt welches von <a href="https://mowoe.com">mowoe</a> entwickelt wurde. 
        </div>
    </body>
</html>