<html>
    {% include "head.jinja" %}
    <body>
        <div class="main-container">
            <h1>HEARTBEAT</h1>
            <h5>Vielen Dank!</h5>
            <br>
            <form method="get" action="/" enctype="multipart/form-data">
                <div class="grbckgrnd">
                <button class="grbutton">Zur&uuml;ck</button>
            </div>
            </form>
            <br>
           Heartbeat ist ein OpenSource-Projekt welches von <a href="https://mowoe.com">mowoe</a> entwickelt wurde. 
        </div>
    </body>
</html>