<html>
    {% include "head.jinja" %}
    <body>
        <div class="bckdiv">
        <div class="main-container">
            <h1>HEARTBEAT</h1>
            <h5>Thank You!</h5>
            <br>
            <form method="get" action="/" enctype="multipart/form-data">
                <div class="grbckgrnd">
                <button class="grbutton">Home</button>
            </div>
            </form>
            <br>
        </div>
    </div>
        {% include "footer.jinja" %}
    </body>
</html>