<html>
{% include "head.jinja" %}

<body>
    <script>

        function update() {
            document.getElementById("file-chosen").textContent = document.getElementById("actualbtn").files[0].name;
            const [file] = actualbtn.files
            if (file) {
                imgpreview.src = URL.createObjectURL(file)
                document.getElementById("imgpreview").style.width = "95%";
            }
        }
    </script>
    <div class="bckdiv">
        <div class="main-container">
            <h1>HEARTBEAT</h1>
            <h5>Upload an Image</h5>
            <form method="post" action="/get_matching_images" enctype="multipart/form-data">

                <input onchange="update();" id="actualbtn" class="upload" name="file" type="file" size="50"
                    accept="image/*" hidden />
                <div class="grbckgrnd">
                    <label class="grbutton" for="actualbtn">Choose file</label>
                    <p style="margin: 10px; " id="file-chosen">No file chosen</p>
                    <div st le="text-align: center;">
                        <img style="width:0px;" id="imgpreview" src="#" class="imgpreview" alt="" />
                    </div>  
                </div>

                <div class="grbckgrnd">
                    <button class="grbutton">upload</button>
                </div>
            </form>
        </div>
    </div>
    {% include "footer.jinja" %}
</body>

</html>