<html>
{% include "head.jinja" %}

<body>
    <script>

        function update() {
            document.getElementById("file-chosen").textContent = document.getElementById("actual-btn").files[0].name;
        }
    </script>
    <div class="bckdiv">
        <div class="main-container">
            <h1>HEARTBEAT</h1>
            <h5>Upload an Image</h5>
            <form method="post" action="/get_matching_images" enctype="multipart/form-data">

                <input onchange="update();" id="actual-btn" class="upload" name="file" type="file" size="50"
                    accept="image/*" hidden />
                <div class="grbckgrnd">
                    <label class="grbutton" for="actual-btn">Choose file</label>
                    <p style="margin: 10px; " id="file-chosen">No file chosen</p>
                </div>

                <div class="grbckgrnd">
                    <button class="grbutton">upload</button>
                </div>
            </form>
        </div>
    </div>
    {% include "footer.jinja" %}
</body>

</html>