<html>
    {% include "head.jinja" %}
    <body>
        <div class="main-container">
            <h1>HEARTBEAT</h1>
            <h5>Diese Seite ist nur zum Hochladen von Bildern für die Heartbeat Datenbank, du wirst also kein Ergebnis bekommen und das hochgeladene Bild kann anderen Besuchern anzeigeigt werden.</h5>
            <form method="post" action="/upload_new" enctype="multipart/form-data">
                <label>Bild auswählen (*.png, *.jpg usw.)
                    <input name="file" type="file" size="50" accept="image/*"> 
                </label>
                <div class="grbckgrnd">
                    <button class="grbutton" >Hochladen</button>
                </div>
            </form>
            <br><br>
           Heartbeat ist ein OpenSource-Projekt welches von <a href="https://mowoe.com">mowoe</a> entwickelt wurde. 
        </div>
    </body>
</html>