<html>
    {% include "head.jinja" %}
    <body>
        <div class="main-container">
            <h1>Heartbeat</h1>
            <h5>Bild hochladen</h5>
            <form method="post" action="/get_matching_images" enctype="multipart/form-data">
                <div class="grbckgrnd">
                <div class="fileUpload">
                    <input class="upload" name="file" type="file" size="50" accept="image/*"><span>Datei ausw&auml;hlen</span>                </input>
                </div>
                </div>
                <div class="grbckgrnd">
                        <button class="grbutton" >Hochladen</button>
                </div>
            </form>
            <br><br>
           Heartbeat ist ein OpenSource-Projekt welches von <a href="https://mowoe.com">mowoe</a> entwickelt wurde. 
        </div>
    </body>
</html>